* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text-primary {
    color: #FD6E0A;
}

/* styles for primary and secondory btn */
.btn-primary {
    border-radius: 0.3125rem;
    background: #FD6E0A;
    color: #FFF;
    border: 0;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    padding: 1.12rem 2.19rem 1.19rem 2.25rem;
    margin-right: 1.87rem;
}

.btn-secondary {
    border-radius: 0.3125rem;
    border: 1px solid #FD6E0A;
    background: transparent;
    color: #FD6E0A;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    flex-shrink: 0;
    padding: 1.12rem 2.19rem 1.19rem 2.25rem;
}

.btn-primary>svg {
    padding-right: 10px;
    position: relative;
    top: 2.8px;
}

.btn-secondary>svg {
    padding-right: 10px;
    position: relative;
    top: 2.8px;
}

/* styles for nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding-top: 3.15rem;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul>li {
    list-style: none;
    margin-right: 50px;
}

nav>ul>li>a {
    text-decoration: none;
    color: #474747;
}

nav>ul>li>button {
    width: 9.375rem;
    height: 4rem;
    flex-shrink: 0;
}

.nav-title {
    color: #181818;
    font-size: 2.8125rem;
    font-weight: 800;

}

/* Header section started */
.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 2.8125rem;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 5.3125rem;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner>.banner-content>p {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    color: #757575;
    line-height: 1.875rem;
    width: 36.5625rem;
    margin-bottom: 1.88rem;
}

/* Header section ends */

/* Main styles started */

main {
    max-width: 71.25rem;
    margin: 0 auto;
}

/* About Section started */
.about {
    padding: 130px;
    border-radius: 0.625rem;
    background: #FFF8F3;
    margin: 130px 0;
}

.section-title {
    color: #181818;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1.5rem;
}

.section-description {
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    text-align: center;
    color: #757575;
    padding-bottom: 1.5rem;
    padding-bottom: 3.15rem;
}

.details-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.details-title {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    color: #757575;
}

.details-description {
    color: #474747;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
}

/* About Section ends */

/* Work Section started */
.work {
    border-radius: 0.625rem;
    margin: 130px 0;
    /* padding: 30px 150px; */
}
.skills-container {
    display: flex;
    gap: 1.5rem;
}

.skill {
    padding: 30px;
    gap: 1.5rem;
    width: 16.6875rem;
    height: 23.5625rem;
    flex-shrink: 4;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill>img {
    padding-left: .06rem;
}

.skill-title {
    color: #181818;
    padding-top: 1.87rem;
    padding-left: 1.06rem;
}

.skill-description {
    color: #757575;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    padding: 1.25rem 1.06rem 1.8rem;
}
/* Work Section ends */

